<!DOCTYPE html>
<html>
  <head>
    <title>Webflix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.chevronURL = "<%= image_url('chevron_right.png') %>"
      window.chevronDown = "<%= image_url('chevron_down.png') %>"
      window.createProfilesImage = "<%= image_url('create_profiles_image.png') %>"
      window.downloadAndWatchImage = "<%= image_url('download_and_watch_image.jpg') %>"
      window.splashBackgroundMedium = "<%= image_url('splash_background_medium.jpg') %>"
      window.splashBackgroundSmall = "<%= image_url('splash_background_small.jpg') %>"
      window.watchEverywhereImage = "<%= image_url('watch_everywhere_image.png') %>"
      window.watchOnTvImage = "<%= image_url('watch_on_tv_image.png') %>"
      window.webflixLogoMedium = "<%= image_url('webflix_logo_medium.png') %>"
      window.webflixLogoSmall = "<%= image_url('webflix_logo_small.png') %>"
      window.addProfileImage = "<%= image_url('add_profile_image.png') %>"
      window.editPencilImage = "<%= image_url('edit_pencil.png') %>"
      window.defaultIcon = "<%= image_url('icon_default.png') %>"
      window.backArrow = "<%= image_url('arrow_left_image.png') %>"
      window.playButton = "<%= image_url('play_button_image_small.png') %>"
      window.infoButton = "<%= image_url('info_button_image_small.png') %>"
      window.mylistButton = "<%= image_url('mylist_plus.png') %>"
      window.likeButton = "<%= image_url('like_button.png') %>"
      window.dislikeButton = "<%= image_url('dislike_button.png') %>"
      window.showExitButton = "<%= image_url('show_exit_button.png') %>"
      window.hdIcon = "<%= image_url('hd_icon.png') %>"
      window.dummyBackground = "<%= image_url('dummy_movie_background.jpg') %>"
      window.dummyThumbnail = "<%= image_url('dummy_thumbnail.jpg') %>"
      window.videoBackButton = "<%= image_url('video_back_button.png') %>"
      window.checkmarkButton = "<%= image_url('checkmark_button.png') %>"
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
