<!DOCTYPE html>
<html>
  <head>
    <title>Webflix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.chevronURL = "<%= image_url('chevron_right.png') %>"
      window.createProfilesImage = "<%= image_url('create_profiles_image.png') %>"
      window.downloadAndWatchImage = "<%= image_url('download_and_watch_image.jpeg') %>"
      window.splashBackgroundMedium = "<%= image_url('splash_background_medium.jpeg') %>"
      window.splashBackgroundSmall = "<%= image_url('splash_background_small.jpeg') %>"
      window.watchEverywhereImage = "<%= image_url('watch_everywhere_image.png') %>"
      window.watchOnTvImage = "<%= image_url('watch_on_tv_image.png') %>"
      window.webflixLogoMedium = "<%= image_url('webflix_logo_medium.png') %>"
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
